##########################
#FOLDERS                 #
##########################

##########################
[ _ ]
##########################
_*/

##########################
[ node_modules ]
##########################
node_modules/