<header class="main-nav">
  <figure class="logo logo--small"></figure>

  <div class="controls">
    <!--
    <nav>
      <ul>
        <li><a href="#"><i class="users icon"></i> Servidor</a></li>
        <li><a href="#"><i class="home icon"></i> Início</a></li>
        <li><a href="#"><i class="building outline icon"></i> Setor</a></li>
      </ul>
    </nav>
    -->
    <div class="ui secondary pointing labeled icon menu">
      <a class="item">
        <i class="users icon"></i> Servidor
      </a>
      <a class="item active">
        <i class="home icon"></i> Início
      </a>
      <a class="item">
        <i class="building icon"></i> Setor
      </a>
    </div>
  </div>

  <div class="user menu">
    <figure class="user-pic flex-center">
      <img src="img/user.png">
    </figure>
    <div class="ui top right pointing dropdown">
      <span class="text username">Meu Nome</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Configurações</div>
        <a class="item" href="#"><i class="edit icon"></i>Perfil</a>
        <a class="item" href="#"><i class="setting icon"></i>Painel de Controle</a>
        <div class="divider"></div>
        <a class="item" href="login"><i class="sign out icon"></i>Sair</a>
      </div>
    </div>
  </div>
</header>