<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Módulo RH - Login</title>
    <meta name="description" content="login para o módulo RH do IFRS Restinga">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="img/fav/apple-touch-icon.png">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/application.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">Você está usando um navegador <strong>desatualizado</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para melhorar a sua experiência.</p>
    <![endif]-->
    <section>
      <h1>INPUTS</h1>

      <h3>Tipos</h3>
      <ul>
        <li><input type="text" placeholder="text"></li>
        <li><input type="number" placeholder="number"></li>
        <li><input type="password" placeholder="password"></li>
        <li><input type="date" placeholder="date"></li>
        <li><input type="month" placeholder="month"></li>
        <li><input type="week" placeholder="week"></li>
        <li><input type="time" placeholder="time"></li>
        <li><input type="image" placeholder="image"></li>
        <li><input type="tel" placeholder="tel"></li>
        <li><input type="email" placeholder="email"></li>
        <li><input type="url" placeholder="url"></li>
        <li><input type="search" placeholder="search"></li>
        <li><input type="file" placeholder="file"></li>
        <li><input type="color" placeholder="color"></li>
        <li><input type="range" placeholder="range"></li>
      </ul>
      <h3>Módulos</h3>
      <ul>
        <li>
          <div class="input-icon">
            <input type="text" placeholder=".input-icon">
            <i class="fa fa-user"></i>
          </div>
          <div class="input-icon--left">
            <input type="text" placeholder=".input-icon--left">
            <i class="fa fa-lock"></i>
          </div>
        </li>
      </ul>
      <hr>


    </section>

    <section>
      <h1>BUTTONS</h1>

      <h3>Tipos</h3>
      <ul>
        <li><button class="button">Default</button></li>
        <li><button class="button--primary">Primary</button></li>
        <li><button class="button--success">Success</button></li>
        <li><button class="button--warn">Warn</button></li>
        <li><button class="button--danger">Danger</button></li>
        <li><button class="button--info">Info</button></li>
      </ul>
    </section>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/main.js"></script>
  </body>
</html>