<!doctype html>
<html class="no-js" lang="">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Login - Módulo RH</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="apple-touch-icon" href="img/fav/apple-touch-icon.png">
      <link rel="stylesheet" href="css/vendor/semantic.css">
      <link rel="stylesheet" href="css/application.css">
      <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body class="page-login flex-wrap">
      <!--[if lt IE 8]>
          <p class="browserupgrade">Você está usando um navegador <strong>desatualizado</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para melhorar a sua experiência.</p>
      <![endif]-->
      
      <!-- < > Login -->
      <mai class="flex-center flex-grow">
        <figure class="logo logo--big"></figure>
        <form class="login-box flat-box">
          <div class="field">
            <div class="ui fluid left icon input">
              <input type="text" placeholder="Usuário" required>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <div class="ui fluid left icon input">
              <input type="password" placeholder="Senha" required>
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox">
              <label>Me manter conectado</label>
            </div>
          </div>
          <div class="fluid ui animated submit primary button">
            <div class="visible content">Entrar</div>
            <!-- use div ... -->
            <a class="hidden content" href="/" style="color:#fff;">
              <i class="right arrow icon"></i>
            </a>
          </div>
          <div class="triangle"></div>
        </form>
        <div>
          <a href="#">Esqueci a senha</a>
        </div>
      </main>
      <!-- </> Login -->

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
      <script src="js/vendor/semantic.min.js"></script>
      <script src="js/main.js"></script>
  </body>
</html>