body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* ==========================================================================
   Section comment block
   ========================================================================== */
/* ==========================================================================
   TOP NAVBAR
   ========================================================================== */
[class*=top-navbar] > nav {
  height: 50px;
}
[class*=top-navbar] .sub-nav {
  height: 40px;
}
[class*=top-navbar] h1 {
  margin: 0;
}
.nav ul,
.nav li,
.nav a {
  margin: 0;
  padding: 0;
}
.nav ul {
  display: flex;
  flex-direction: column;
}
.nav li {
  display: flex;
}
.nav a {
  text-decoration: none;
  padding: 10px 10px 10px 15px;
  flex: 1;
  transition: box-shadow linear 0.1s, background linear 0.3s;
}
.nav a:hover {
  background: #eee;
  box-shadow: inset 3px 0 0 #aaa;
}
.nav.center-nav ul {
  justify-content: center;
}
.nav.inline-nav ul {
  flex-direction: row;
}
.nav.inline-nav a:hover {
  background: none;
  box-shadow: inset 0 -3px 0 #aaaaaa;
}
.top-navbar--primary > nav:first-child {
  background: #ffffff;
  border-bottom: 2px solid #d4d4d4;
}
.top-navbar--primary .sub-nav {
  background: #3085ef;
}
.top-navbar--primary .sub-nav a {
  color: #fff;
}
.top-navbar--primary .sub-nav a:hover {
  box-shadow: inset 0 -4px 0 #ffffff;
}
/* Sidenav
   ========================================================================== */
.main-nav {
  position: fixed;
  width: inherit;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul > ul a {
  font-size: 12px;
  padding-left: 30px;
}
.main-nav li {
  display: flex;
}
.main-nav a {
  text-decoration: none;
  flex: 1;
  padding: 10px 5px 10px 15px;
  transition: box-shadow linear 0.3s, background linear 0.3s;
}
.main-nav a:hover {
  background: #eee;
  box-shadow: inset 3px 0px 0px 0px #3085ef;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.input,
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='month'],
input[type='year'],
input[type='number'],
input[type='search'] {
  display: block;
  line-height: 1.4;
  padding: 5px 12px;
  color: #333;
  border: 1px solid #bbb;
  outline: 0;
  transition: border linear .3s;
  margin: 0;
}
.input--success {
  border-color: #3ab26d !important;
}
.input--error {
  border-color: #cf4343 !important;
}
li {
  list-style: none;
}
input[type='text']:hover,
input[type='password']:hover,
input[type='date']:hover,
input[type='datetime']:hover,
input[type='month']:hover,
input[type='year']:hover,
input[type='number']:hover,
input[type='search']:hover {
  border-color: #777;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='month']:focus,
input[type='year']:focus,
input[type='number']:focus,
input[type='search']:focus {
  border-color: #63aae2;
}
@font-face {
  font-family: 'caviar-dreams';
  src: url('../font/CaviarDreams-webfont.eot');
  src: url('../font/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'), url('../font/CaviarDreams-webfont.woff') format('woff'), url('../font/CaviarDreams-webfont.ttf') format('truetype'), url('../font/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.main-header {
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.main-header .logo {
  width: 50px;
  height: 50px;
  background: url("../img/logo-outline-50px.png") no-repeat center;
  float: left;
}
.main-header .title {
  display: block;
  text-align: center;
  font-family: 'caviar-dreams', sans-serif;
  font-size: 25px;
  color: #767676;
  padding-top: 5px;
}
.wrapper {
  display: flex;
}
.wrapper > aside {
  width: 20%;
}
.main-section {
  flex: 1;
  background: #fff;
  padding: 10px 30px;
  display: inline;
  float: left;
  width: 96.66666667%;
  margin: 0 1.66666667%;
}
