.button,
.button--primary,
.button--success,
.button--warn,
.button--danger,
.button--info {
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #555;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 0 #dcdcdc;
  padding: 8px 15px;
  position: relative;
  cursor: pointer;
}
.button:active,
.button--primary:active,
.button--success:active,
.button--warn:active,
.button--danger:active,
.button--info:active {
  box-shadow: none;
  top: 3px;
}
.button--primary {
  color: #fff;
  background-color: #3a92dd;
  border: 1px solid #2586d8;
  box-shadow: 0 3px #2278c2;
}
.button--success {
  color: #fff;
  background-color: #21d360;
  border: 1px solid #1ebd56;
  box-shadow: 0 3px #1aa74c;
}
.button--warn {
  color: #fff;
  background-color: #f2ce3b;
  border: 1px solid #f0c823;
  box-shadow: 0 3px #eabf10;
}
.button--danger {
  color: #fff;
  background-color: #d04747;
  border: 1px solid #ca3434;
  box-shadow: 0 3px #b62e2e;
}
.button--info {
  color: #fff;
  background-color: #27d7c9;
  border: 1px solid #23c1b5;
  box-shadow: 0 3px #1faca1;
}
